@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #181818;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#fff 90%,#fff0) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

.dot-shadow {
  position: relative;
}

.dot-shadow::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  border: 2px solid #ffffff;
  top: 25px;
  left: 25px;
  width: 100%;
  height: 100%;
  background-image: url('/img/shadow-tile.png');
  z-index: -1;
}

.dot-shadow--card::before {
  top: 15px !important;
  left: 15px !important;
}

/* Main editor styling */
.codex-editor {
  width: 720px;
  background-color: rgb(255, 255, 255, .025);
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.codex-editor ::selection {
  background-color: #fff !important;
  color: #000 !important;
}

/* Paragraph styling */
.ce-paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Header styling */
.ce-header {
  margin-bottom: 1rem;
}

h1.ce-header {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

h2.ce-header {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3.ce-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* List styling */
.cdx-list {
  margin: 1rem 0;
  padding-left: 40px;
}

.cdx-list__item {
  padding: 5px 0;
} 

.ce-toolbar__actions {
  right: -80px !important;
}

/* Toolbar styling */
.ce-toolbar__content {
  max-width: 100% !important;
}

.ce-block__content {
  max-width: 100% !important;
  margin: 0 auto;
}

/* Focus state */
.codex-editor--focused {
  border-radius: 8px;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  color: black !important;
  background-color: rgb(225, 225, 225) !important;
} 
